* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */

/* Header Section */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #30b868;
}

/* Main Styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-container .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.nav-container .menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
