* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */

/* Header Section */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #30b868;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Main Styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-container .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.nav-container .menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* Hero Section */

#hero {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
}

.hero-container .hero-tag {
  font-size: 16px;
  color: #30b868;
  background-color: white;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.hero-tag-icon {
  width: 15px;
  height: 15px;
  background-color: #30b868;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #3047b88a;
}

.hero-container h1 {
  font-size: 72px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

.hero-container h1 span {
  color: #30b868;
}

.hero-container p {
  font-size: 18px;
  color: white;
  margin: 20px 0;
  line-height: 1.5;
}

.hero-container .hero-buttons-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-container .hero-secondary-btn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid white;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
