* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}
.section-subtitle {
  font-size: 15px;
  font-weight: 400;
  color: #627382;
}

.btn {
  background-color: #30b868;
  color: #ffffff;
  font-size: 16px;
  font-weight: bolder;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #30b868;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Main Styles */

/* Navigation Styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.nav-container .menu {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.nav-container .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

/* Hero Section */

#hero {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
}

.hero-container .hero-tag {
  font-size: 16px;
  color: #30b868;
  background-color: #ffffff;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.hero-tag-icon {
  width: 15px;
  height: 15px;
  background-color: #30b868;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #3047b88a;
}

.hero-container h1 {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  text-transform: capitalize;
}

.hero-container h1 span {
  color: #30b868;
}

.hero-container p {
  font-size: 18px;
  color: #ffffff;
  margin: 20px 0;
  line-height: 1.5;
}

.hero-container .hero-buttons-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero-container .hero-secondary-btn {
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: bolder;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #ffffff;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* About Section */
#about {
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-container {
  text-align: center;
}

.about-container .section-title {
  margin-bottom: 10px;
}

.about-info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 40px;
}
.about-info-card {
  padding: 24px;
  text-align: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.about-info-card img {
  background-color: #f95555;
  padding: 12px;
  border-radius: 100%;
}
.about-info-card h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 12px 0;
}

/* Features Section */
#features {
  padding: 50px 0;
}
.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.features-image {
  flex: 0 0 45%;
}

.features-image img {
  width: 100%;
}

.features-content {
  flex: 0 0 55%;
  text-align: start;
}

.features-content p:first-of-type {
  text-transform: uppercase;
  color: #30b868;
  margin-bottom: 16px;
}

.features-content .section-title,
.features-content .section-subtitle {
  margin-bottom: 16px;
}
.features-content .features-list {
  list-style: none;
}

.features-content .features-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* CTA Section */
#cta {
  padding: 50px 0;
}

.cta-container {
  background-color: #f7f6f2;
  padding: 80px 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Footer Styles */
footer {
  background-color: #001931;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer-content .footer-links {
  text-align: start;
}
.footer-content .footer-links h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-content .footer-links ul {
  list-style: none;
  display: flex;
}
.footer-content .footer-links ul li a {
  background-color: #ffffff;
  color: #000000;
  padding: 2px;
  border-radius: 100%;
  margin-right: 12px;
  cursor: pointer;
}

footer hr {
  border: none;
  border-top: 1px solid #627382;
  margin-bottom: 30px;
}
footer .footer-bottom {
  text-align: center;
}
